/node_modules
/public/hot
/public/storage
/public/admin-assets
/public/module-assets
/public/portfolio-assets
/public/nanopkg-assets
/public/assets
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.gz
*.sql
*.sql.gz
*.log
*.log.*
error_log
access_log
