.user-header-menu .dropdown-item {
    position: relative !important;
    padding: 0 10px !important;
    height: 38px !important;
    display: -webkit-box !important;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    color: #494c57;
    font-weight: 600;
    margin: 0 !important;
    border-bottom: 1px solid #c1b2b2;
}


.user-header-menu .dropdown-item:hover:before {
    display: none;
}

.form-check-input:checked {
    background-color: #16994a;
    border-color: #198754;
}

.form-control {
    padding: 10px 20px;
}

.typed-cursor {
    color: rgb(10, 211, 100);
}

.cursor-pointer {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.template-card i, .template-card svg {
    font-size: 30px !important;
    color: #16994a;
    padding-bottom: 5px;
}

.note-editing-area {
    background-color: #ffff !important;
}

.favorite {
    font-size: 22px;
    color: #949494 !important;
}

.favored {
    font-size: 22px;
    color: rgb(219, 182, 17);
}

.f3xl {
    font-size: 3em;
    line-height: .03125em;
    vertical-align: -0.1875em;
}

.f4xl {
    font-size: 4em;
    line-height: .03125em;
    vertical-align: -0.1875em;
}


.password-showHide {
    position: absolute;
    right: 12px;
    top: 55%;
    display: grid;
    transform: translateY(-60%);
    cursor: pointer;
    z-index: 99;
}

.password-showHide .icon {
    grid-row: 1/2;
    grid-column: 1/2
}

.password-showHide .icon path {
    fill: #c2c2c2;
    transition: all .2s ease
}

.password-showHide:hover .icon path {
    fill: #2c3638;
    transition: all .2s ease
}

.password-showHide .icon.show-password {
    opacity: 1;
    z-index: 9
}

.password-showHide .icon.hide-password {
    opacity: 0;
    z-index: -1
}

.password-showHide.hide .icon.show-password {
    opacity: 0;
    z-index: -1
}

.password-showHide.hide .icon.hide-password {
    z-index: 9;
    opacity: 1
}

.select2, .select2-container {
    width: 100% !important;
}





/***  Preloader CSS  ***/

/* Center the preloader */
.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(15 15 15 / 78%);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Preloader card styles */
.preloader-card {
    width: 250px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    /* animation: spin 2s infinite linear; */
}

/*
.preloader-spinner {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6c757d;
    animation: dot-animation 3s infinite;
    animation-direction: alternate;
}

@keyframes dot-animation {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(100px);
        opacity: 0;
    }
} */


label.error {
    color: #f00 !important;
    padding: 7px 0 1px;
    font-weight: 400;
}

input.error, select.error, textarea.error {
    border-color: #f00 !important;
}

input.valid, select.valid, textarea.valid {
    border-color: #6571ff !important;
}

.setting-nav {
    padding: 0 10px;
    border-right: 1px solid #e9ecef
}

.setting-nav ul li a {
    border-radius: 5px;
    padding: 15px 10px;
    margin: 5px 0;
    display: block;
    color: #000
}

.setting-nav ul li a:hover {
    background-color: #cacaca;
    cursor: pointer;
    color: #000
}

.setting-nav ul li a.active {
    background-color: #6571ff;
    font-weight: 700;
    color: #fff
}

.setting-content {
    margin-left: 15px
}

fieldset {
    border: 1px solid #bfc0c2;
    padding: 10px;
    margin-bottom: 20px
}

legend {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    float: unset;
    width: auto
}

.tox-statusbar__branding {
    display: none !important;
}