.no-internet-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid rgba(231, 77, 60, 0.856);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(231, 77, 60, 0.63);
    padding: 10px;
    display: flex;
    align-items: center;
    display: none;
}

.no-internet-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e74c3c;
    margin-right: 10px;
    display: inline-block;
}

.no-internet-text {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: inline-block;

}

/* Keep the popup always on top */
.no-internet-popup {
    position: fixed;
    top: auto;
    bottom: 55px;
    right: 20px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.no-internet-popup.show {
    display: block;
    opacity: 1;
}

.user-online-popup {
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.user-online-popup.show {
    display: block;
    opacity: 1;
}

.user-online-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2ecc71;
    margin-right: 10px;
    display: inline-block;

}

.user-online-text {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: inline-block;

}