.password-showHide {
    position: absolute;
    right: 12px;
    top: 55%;
    display: grid;
    transform: translateY(-60%);
    cursor: pointer;
    z-index: 99;
}

.password-showHide .icon {
    grid-row: 1/2;
    grid-column: 1/2
}

.password-showHide .icon path {
    fill: #c2c2c2;
    transition: all .2s ease
}

.password-showHide:hover .icon path {
    fill: #2c3638;
    transition: all .2s ease
}

.password-showHide .icon.show-password {
    opacity: 1;
    z-index: 9
}

.password-showHide .icon.hide-password {
    opacity: 0;
    z-index: -1
}

.password-showHide.hide .icon.show-password {
    opacity: 0;
    z-index: -1
}

.password-showHide.hide .icon.hide-password {
    z-index: 9;
    opacity: 1
}